@font-face {
    font-family: 'Nelna_Yesam_Regular'; /* 낼나 예샘체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Nelna_Yesam_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_23sjgmsSUMIN_Regular'; /* 온글잎 23송정여중수민체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_23sjgmsSUMIN_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_30SomethingGal_Regular'; /* 온글잎 30썸띵갤 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_30SomethingGal_Regular.woff2') format('woff2');
}

