@font-face {
    font-family: 'Nelna_Yesam_Regular'; /* 낼나 예샘체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Nelna_Yesam_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_23sjgmsSUMIN_Regular'; /* 온글잎 23송정여중수민체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_23sjgmsSUMIN_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_30SomethingGal_Regular'; /* 온글잎 30썸띵갤 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_30SomethingGal_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_90minseon_Regular'; /* 온글잎 90민선 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_90minseon_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_99_Regular'; /* 온글잎 99 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_99_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_512_Regular'; /* 온글잎 512 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_512_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Yesol_from_2022_Regular'; /* 온글잎 2022년의 예솔 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Yesol_from_2022_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_2023SATBYUL_Regular'; /* 온글잎 2023샛별체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_2023SATBYUL_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_2023HYOSEONG_Regular'; /* 온글잎 2023효성체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_2023HYOSEONG_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_JYTOUR_BAKI_Regular'; /* 온글잎 JY투어_바키 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_JYTOUR_BAKI_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_JYTOUR_JEJU_Regular'; /* 온글잎 JY투어_큰노꼬메 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_JYTOUR_JEJU_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_gardensseum_Regular'; /* 온글잎 가든체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_gardensseum_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_GaYeon38_Regular'; /* 온글잎 가연38 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_GaYeon38_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_morning_Regular'; /* 온글잎 가을아침 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_morning_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_KAHWA_Regular'; /* 온글잎 가화 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_KAHWA_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_GanGyeolHa_Regular'; /* 온글잎 간결하체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_GanGyeolHa_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Potato_minyeong_Regular'; /* 온글잎 감자쁘링 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Potato_minyeong_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_JaeSeok_K_Font_Regular'; /* 온글잎 강재석체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_JaeSeok_K_Font_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_gaeseong_heqqu_Regular'; /* 온글잎 개성 히뿌체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_gaeseong_heqqu_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Galsso_Regular'; /* 온글잎 갤쏘 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Galsso_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Healthyhannaxi_Regular'; /* 온글잎 건멋든해나씨 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Healthyhannaxi_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Gyeom_Regular'; /* 온글잎 겸이 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Gyeom_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_KyeongyeongChae'; /* 온글잎 경영체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_KyeongyeongChae.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Goeunis29_Regular'; /* 온글잎 고니꾸니는29살 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Goeunis29_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Critical_Point_Bld_Regular'; /* 온글잎 고체액체기체 굵 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Critical_Point_Bld_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Critical_Point_Regular'; /* 온글잎 고체액체기체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Critical_Point_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_BearAngel_Regular'; /* 온글잎 곰돌천사체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_BearAngel_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_gongpal_Regular'; /* 온글잎 공팔체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_gongpal_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_9r6umsom_studio_Regular'; /* 온글잎 구름솜 스튜디오체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_9r6umsom_studio_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_KSstudent2_Regular'; /* 온글잎 구성고학년 소율체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_KSstudent2_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_KSteacher_Regular'; /* 온글잎 구성교직원 예나린체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_KSteacher_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_KSstudent1_Regular'; /* 온글잎 구성저학년 지아체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_KSstudent1_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_KSparents_Regular'; /* 온글잎 구성학부모 예서맘체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_KSparents_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_guseulfont_Regular'; /* 온글잎 구슬체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_guseulfont_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_9wol_Regular'; /* 온글잎 구월 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_9wol_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Kwonlee_Regular'; /* 온글잎 권리체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Kwonlee_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_KwonJaHyeon_Regular'; /* 온글잎 권자현 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_KwonJaHyeon_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_HENNNI_Regular'; /* 온글잎_귀염둥이_핸니체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_HENNNI_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_CutieStandard_Regular'; /* 온글잎_귀요미스탠다드 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_CutieStandard_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Cute_Yuna_Regular'; /* 온글잎 귀욤 유나체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Cute_Yuna_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_be_precious_Regular'; /* 온글잎 귀하고 예쁘다 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_be_precious_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_KyuSik_Regular'; /* 온글잎 규식체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_KyuSik_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_thethediary_Regular'; /* 온글잎 그그일기 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_thethediary_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_kumhyang_Regular'; /* 온글잎 금향체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_kumhyang_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Studio_bluemay_Regular'; /* 온글잎 긍씨 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Studio_bluemay_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_GeungJeong_Regular'; /* 온글잎 긍정 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_GeungJeong_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Gisuk_Regular'; /* 온글잎 기숙 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Gisuk_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Gani_Kim_Regular'; /* 온글잎 김가니체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Gani_Kim_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Kim_Nyong_Regular'; /* 온글잎 김뇽체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Kim_Nyong_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_DWFont_Regular'; /* 온글잎 김동우기본체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_DWFont_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Lelehyo_Regular'; /* 온글잎 김렐레효경체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Lelehyo_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_MALI_Regular'; /* 온글잎 김말리체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_MALI_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_MALI2_Regular'; /* 온글잎 김말리체2 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_MALI2_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_KimMyung_Regular'; /* 온글잎 김명 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_KimMyung_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Minyoung_Type_Regular'; /* 온글잎 김민영체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Minyoung_Type_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_KimBomin_Regular'; /* 온글잎 김보민 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_KimBomin_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_KimJaewoo_Regular'; /* 온글잎 김재우 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_KimJaewoo_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_kimjjannu_Regular'; /* 온글잎 김짠누 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_kimjjannu_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Kimkonggi_Regular'; /* 온글잎 김콩지 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Kimkonggi_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_kimheewon_Regular'; /* 온글잎 김희원체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_kimheewon_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_little_nana_Regular'; /* 온글잎 꼬마나나체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_little_nana_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Kkomong_Regular'; /* 온글잎 꼬몽 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Kkomong_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Winding_Ddaeng_Regular'; /* 온글잎 꼬불꼬불 임땡체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Winding_Ddaeng_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_hae_gon_Regular'; /* 온글잎 꽃내체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_hae_gon_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Nagi_Namgim_Regular'; /* 온글잎 나기남김 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Nagi_Namgim_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_nanana_Regular'; /* 온글잎 나나나체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_nanana_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_NANAYANG_Regular'; /* 온글잎 나나양 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_NANAYANG_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_thats_me_Regular'; /* 온글잎 나는 나대로 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_thats_me_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_selfEsteem_Regular'; /* 온글잎 나다운체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_selfEsteem_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_RomanticJB_Regular'; /* 온글잎 낭만진보체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_RomanticJB_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Ronin_Regular'; /* 온글잎 낭인체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Ronin_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_my_the_lov_pont_Regular'; /* 온글잎 내 더럽 글씨체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_my_the_lov_pont_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_It_is_only_mine_Regular'; /* 온글잎 내꺼이미 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_It_is_only_mine_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Smiley_Taerim_Regular'; /* 온글잎 너만 보면 웃잖아 태림 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Smiley_Taerim_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_You_and_Road_Regular'; /* 온글잎 너와길 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_You_and_Road_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_GraceRoh_Regular'; /* 온글잎 노경수 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_GraceRoh_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_NoedEden_Regular'; /* 온글잎 노아 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_NoedEden_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_sydseed_Regular'; /* 온글잎 뇨뇽 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_sydseed_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_noocar_Regular'; /* 온글잎 누카 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_noocar_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_NewMoogung_Regular'; /* 온글잎 뉴무궁체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_NewMoogung_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_New_Bohyun_Regular'; /* 온글잎 뉴보현 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_New_Bohyun_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Newbohyun_Bold_Regular'; /* 온글잎 뉴보현볼드 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Newbohyun_Bold_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_NEWJIYEON_Regular'; /* 온글잎 뉴져니 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_NEWJIYEON_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_nyoongfont_Regular'; /* 온글잎 늉늉체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_nyoongfont_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_neulneule_Regular'; /* 온글잎 늘늘이 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_neulneule_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_dada92_Regular'; /* 온글잎 다다구이 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_dada92_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_yesdaap_Regular'; /* 온글잎 다비체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_yesdaap_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Dayong_Regular'; /* 온글잎 다옹체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Dayong_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Danno_Regular'; /* 온글잎 단노체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Danno_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_danbee_Regular'; /* 온글잎 단비체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_danbee_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_dahm_Regular'; /* 온글잎 담이체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_dahm_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_dangchoimolla_Regular'; /* 온글잎 당최몰라 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_dangchoimolla_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_dcworm_Regular'; /* 온글잎 대충이손글씨 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_dcworm_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_roughlio_Regular'; /* 온글잎 대충이오 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_roughlio_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_MASonghyun_Regular'; /* 온글잎 대학원생 송현 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_MASonghyun_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Kookie_Regular'; /* 온글잎 덕암체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Kookie_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_thekoyumi_Regular'; /* 온글잎 덕호유미 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_thekoyumi_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Davidfont_Regular'; /* 온글잎 데이비드체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Davidfont_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_DK_Regular'; /* 온글잎 도경 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_DK_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_donizoa_Regular'; /* 온글잎 도니조아 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_donizoa_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_dorodondon_Regular'; /* 온글잎 도로돈돈체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_dorodondon_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_dopamine_addict_Regular'; /* 온글잎 도파민 중독 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_dopamine_addict_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_dongdong_Regular'; /* 온글잎 동동맘 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_dongdong_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_DongjooLee_Regular'; /* 온글잎 동주체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_DongjooLee_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_bold_cheche_Regular'; /* 온글잎 두꺼운 채채체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_bold_cheche_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_ddgulim_Regular'; /* 온글잎 둥둥굴림체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_ddgulim_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Didoni_Regular'; /* 온글잎 디도니 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Didoni_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_DIMU_GORONG_TTO_Regular'; /* 온글잎 디뮤 고롱또박체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_DIMU_GORONG_TTO_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_DINGFONT_Regular'; /* 온글잎 딩궁딩굴 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_DINGFONT_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_DdaTya_Regular'; /* 온글잎 따땨 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_DdaTya_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_DDUNGZZIFONT_Regular'; /* 온글잎 떵찌 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_DDUNGZZIFONT_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Sojins_font_Regular'; /* 온글잎 또딩체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Sojins_font_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_DDoDDu_Regular'; /* 온글잎 또뜌 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_DDoDDu_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_ttomi1_Regular'; /* 온글잎 또미필기체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_ttomi1_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Smart_Regular'; /* 온글잎 똑쟁이 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Smart_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Donggly_Regular'; /* 온글잎 똥글이체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Donggly_Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Ownglyph_Ddyu_Regular'; /* 온글잎 뜌체 */
    src: url('https://cdn.jsdelivr.net/gh/Wheelman-v2/Ownglyph/STANDARD/Ownglyph_Ddyu_Regular.woff2') format('woff2');
}

